@font-face {
  font-family: 'BareunDotum';
  font-style: normal;
  font-weight: 400;
  src: url('resources/BareunDotumOTF2.otf');
}

@font-face {
  font-family: 'BareunDotum';
  font-style: normal;
  font-weight: 700;
  src: url('resources/BareunDotumOTF3.otf');
}

@font-face {
  font-family: 'BareunDotum';
  font-style: normal;
  font-weight: 300;
  src: url('resources/BareunDotumOTF1.otf');
}

@font-face {
    font-family: 'Hankc';
    src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/hani/Hankc/Hankc.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/hani/Hankc/Hankc.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-bg {
    background-color: #033e8c;
    box-shadow: 0 4px 6px 4px #acacac;
}

.header-content {
    padding: 42px 16px 32px 16px;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.header-content a {
    text-decoration: none;
    color: #f2f2f2;
}

.header-content h1 {
    font-family: 'BareunDotum';
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 32px;
    margin-left: 2px;
    color: #f2f2f2;
    letter-spacing: 2px;
}

.header-content img {
    vertical-align: middle;
    padding-right: 16px;
}

.btn-group {
    text-align: center;
    padding-top: 18px;
}

.btn-wrapper {
    display: inline-block;
    margin-right: 28px;
    vertical-align: top;
}

.btn-wrapper:last-child {
    margin-right: 0;
}

.url-button {
    width: 56px;
    height: 56px;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    cursor: pointer;
}

.url-label {
    margin-top: 8px; 
    font-family: 'BareunDotum';
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #f2f2f2;
}

.url-svg-github {
    position: relative;
    justify-content: center;
    align-items: center;
    left: 9px;
    top: 2px;
}

.url-svg-pixiv {
    position: relative;
    justify-content: center;
    align-items: center;
    left: 8px;
    top: 1px;
}

.url-svg-twitter {
    position: relative;
    justify-content: center;
    align-items: center;
    left: 9px;
}

.cover-content {
    padding: 24px;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.cover-content a {
    text-decoration: none;
    color: #2b2b2b;
    padding-bottom: 1px;
    border-bottom: 1px dashed #2b2b2b;
}

.cover-content h1 {
    font-family: 'Hankc';
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    color: #033e8c;
    letter-spacing: 10px;
    text-indent: 10px;
    padding-top: 32px;
    padding-bottom: 44px;
}

.cover-p {
    margin: 0 auto;
    width: 100%;
    max-width: 512px;
}

.cover-content p {
    font-family: 'BareunDotum';
    font-weight: 300;
    font-size: 13px;
    color: #2b2b2b;
    line-height: 24px;
    text-indent: 8px;
    word-break: keep-all;
    margin: 0 auto;
    margin-bottom: 24px;
}

.uto-content {
    width: 100%;
    height: auto;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.uto-img {
    width: 100%;
    height: auto;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    margin-bottom: 28px;
    border-radius: 28px;
    object-fit: cover;
}

.main-bg {
    background-image: url('resources/okumono-chouf2.png');
    background-size: cover;
}

.main-content {
    padding: 0 16px 64px 16px;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}


.main-content a {
    text-decoration: none;
    color: #2b2b2b;
    padding-bottom: 0.5px;
    border-bottom: 1px dashed #2b2b2b;
}

.main-content h3 {
    font-family: 'BareunDotum';
    font-weight: 700;
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 12px;
    color: #033e8c;
}

.main-content img {
    vertical-align: middle;
    padding-right: 16px;
}

.icon-wlist {
  list-style-type: none;
  padding-left: 0;
}

.icon-wlist li {
    display: flex;
    align-items: center;
    margin-left: 4px;
    margin-bottom: 12px;
}

.icon-wlist img {
    display: flex;
    justify-content: center;
}

.icon-wlist span {
    font-family: 'BareunDotum';
    font-weight: 300;
    font-size: 14px;
    color: #f2f2f2;
    margin-left: -4px;
}

.icon-blist {
  list-style-type: none;
  padding-left: 0;
}

.icon-blist li {
    display: flex;
    align-items: center;
    margin-left: 4px;
}

.icon-blist img {
    display: flex;
    justify-content: center;
}

.icon-blist span {
    font-family: 'BareunDotum';
    font-weight: 400;
    font-size: 13px;
    color: #2b2b2b;
    margin-left: -8px;
}

.foot-content {
    margin: 0 auto;
    padding-bottom: 64px;
    text-align: center;

    font-family: 'BareunDotum';
    font-weight: 300;
    font-size: 11.5px;
    color: #033e8c;
}

.foot-copyright {
    position: relative;
    font-family: 'Hankc';
    font-weight: 700;
    font-size: 14px !important;
    top: 1px;
}

.sublight {
    font-family: 'BareunDotum';
    font-weight: 300 !important;
    font-size: 11.5px !important;
    color: #acacac !important;
    margin-left: 4px !important;
    word-spacing: -2px !important;
    letter-spacing: -0.75px !important;
}

.sublight-header {
    font-family: 'BareunDotum';
    font-weight: 400;
    font-size: 30px;
    color: #acacac !important;
    margin-left: 4px;
    letter-spacing: 0 !important;
    word-break: keep-all;
}

.nabi-gradient {
    background: linear-gradient(30deg, #04b2d9 20%, #033e8c 100%);
    color: transparent;
    -webkit-background-clip: text;

    font-family: 'Hankc';
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    padding: 16px 0 32px 0;
    margin: 0 auto;
    letter-spacing: 10px;
}

.move-left {
    margin-left: -2px;
}

.sub-ul {
    margin-left: 40px;
    margin-bottom: 16px;
}

.sub-li {
    font-family: 'BareunDotum';
    font-weight: 300 !important;
    font-size: 11.5px !important;
    color: #2b2b2b;
}

.email-spacing {
    letter-spacing: 0.25px;
}

.email-spacing-dot {
    position: relative;
    left: 2.5px;
}

.loc-content-spacing {
    position: relative;
    left: -4px;
}

.at-sign-spacing {
    position: relative;
    top: 2px;
}

.loc-spacing {
    position: relative;
    top: 1px;
}

.spacing-more {
    letter-spacing: 1px !important;
}

.spacing-less {
    letter-spacing: -0.75px !important;
}
